
@{
    ViewBag.Title = "AgregarProducto";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<script>
    $(document).ready(
        function () {
            $("#msj").hide();
            $("#btnGuardar").click(
                function () {
                    $.ajax({
                        url: '@Url.Action("Guardar", "Mantenedor")',
                        type: 'POST',
                        data: $("#formulario").serialize(),
                        success: function (result) {
                            //alert(result);
                            if (result === 'true') {
                                $("#msj").show(2000).delay(2000).fadeOut(2000);
                                setTimeout(function () { $(location).attr('href', '@Url.Action("PanelUsuario", "Tienda")'); }, 4000);
                            }
                            else {
                                alert('problema');
                            }
                        }
                    }
                    );
                }

            );
        }
    );
</script>
<body>
    <h2>AgregarProducto</h2>
    <div id="msj" class="alert alert-success">
        Datos Ingresados
    </div>
    <center>
        <form id="formulario">
            <input type="hidden" name="bd" id="bd" value="Productos" />
            <table>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td>nombreProducto</td>
                    <td><input class="form-control" type="text" id="nombreProducto" name="nombreProducto" /></td>
                </tr>
                <tr>
                    <td>
                        precio
                    </td>
                    <td>
                        <input class="form-control" type="text" id="precio" name="precio" />
                    </td>
                </tr>
                <tr>
                    <td>
                        stock
                    </td>
                    <td>
                        <input class="form-control" type="text" id="stock" name="stock" />
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="button" class="btn btn-primary" id="btnGuardar" name="btnGuardar" value="Guardar" /></td>
                </tr>
            </table>
        </form>
    </center>
</body>