
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript">
    $(document).ready(
    function () {

        $("#mensaje").hide();
        $("#btnRegistrar").click(
            function () {
                $.ajax({
                    url: '@Url.Action("RegistrarNuevoUsuario", "Tienda")',
                    type: 'POST',
                    data: $("#formulario").serialize(),
                    success: function (result) {
                        alert(result);
                        if (result === 'true') {
                            window.location.href = "/Tienda/Login";
                        }
                        else {
                            $("#msj").show(2000).delay(2000).fadeOut(2000);
                        }
                    }
                }
                );
            }

        );
    }
);
</script>
<h2>Ingrese sus datos</h2>

<form id="formulario">
    <input type="text" placeholder="Nombre de usuario" id="nombreUsuario" name="nombreUsuario" class="form-control" />
    <br />

    <input type="password" placeholder="password" id="password" name="password" class="form-control" />
    <br />

    <input type="text" placeholder="Primer nombre" id="pnombre" name="pnombre" class="form-control" />
    <br />
    <input type="text" placeholder="segundo nombre (opcional)" id="snombre" name="snombre" class="form-control" />
    <br />
    <input type="text" placeholder="apellido paterno" id="apat" name="apat" class="form-control" />
    <br />

    <input type="text" placeholder="apellido materno" id="amat" name="amat" class="form-control" />
    <br />
    <input type="text" placeholder="Email" id="mail" name="email" class="form-control" />
    <br />
    <input type="button" value="Registrarse" id="btnRegistrar" />
</form>
<div id="mensaje" class="alert alert-danger">
    uno de los campos ingresados no es valido
</div>