
@{
    ViewBag.Title = "Tienda";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="~/Scripts/css/estilosTienda.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(
        function () {
            $("#btnComprar").click(
                function () {
                    $.ajax({
                        url: '@Url.Action("validarLogin", "Tienda")',
                        type: 'POST',
                        success: function (result) {
                            if (result === 'true') {
                                window.location.href = "/Tienda/PanelUsuario";
                            }
                            else {
                                $("#msj").show(2000).delay(2000).fadeOut(2000);
                            }
                        }
                    }
                    );
                }

            );
        }
    );
</script>

<div class="sliderwrapper">
    <div id="slider" class="container">
        <div class="slider">
            <ul class="slides">
                <li class="slide">
                    <h5 class="wow fadeInDown" data-wow-delay="0.8s">What is Pasta ? </h5>
                    <p class="wow fadeInUp" data-wow-delay="0.8s">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                        also the leap into
                        electronic typesetting
                    </p>
                    <img src="~/Scripts/images/slideimg.png" width="317" height="256" class="wow fadeInRight"
                         data-wow-delay="0.8s" alt="slide1img">
                </li>
                <li class="slide">
                    <h5 class="wow fadeInDown" data-wow-delay="0.8s">What is Pasta ? </h5>
                    <p class="wow fadeInUp" data-wow-delay="0.8s">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                        also the leap into
                        electronic typesetting
                    </p>
                    <img src="~/Scripts/images/slideimg.png" width="317" height="256" class="wow fadeInRight"
                         data-wow-delay="0.8s" alt="slideimg2">
                </li>
                <li class="slide">
                    <h5 class="wow fadeInDown" data-wow-delay="0.8s">What is Pasta ? </h5>
                    <p class="wow fadeInUp" data-wow-delay="0.8s">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                        also the leap into
                        electronic typesetting
                    </p>
                    <img src="~/Scripts/images/slideimg.png" width="317" height="256" class="wow fadeInRight"
                         data-wow-delay="0.8s" alt="slideimg2">
                </li>
            </ul>
        </div>
    </div> <!-- End of Slider-->
</div> <!-- end of sliderwrapper-->


<h2>Tienda</h2>



@{
    foreach (TiendaRestaurant.Models.Productos prod in ViewBag.list)
    {
        <div class="col-md-2 column productbox">
            <img src="http://placehold.it/460x250/e67e22/ffffff&text=HTML5" class="img-responsive">
            <div class="producttitle">@Html.Raw(prod.nombreProducto)</div>
            <div class="productprice"><div class="pull-right"><a href="/Tienda/DetallesProducto?id=@prod.idProducto" id="btnComprar" class="btn btn-danger btn-sm" role="button">Ver detalles</a></div><div class="pricetext">@Html.Raw(prod.precio)</div></div>
        </div>
    }
}
